.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}


body {
    margin: 0;
}

.background-container {
    position: absolute;

    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.background-shape {
    background-color: #4793AF;
    box-shadow: 2px 2px 10px gray;
    width: 200vw;
    height: 100vh;


    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) rotate(8deg) translateY(-20%);

    z-index: 0;   
}

header {
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.picture {
    z-index: 1;
}

div.about {

    box-shadow: 5px 5px 10px gray;

    padding: 2em;
    background-color: white;

    z-index: 1;
}

main h1 {
    padding-left: 5%;
}

div.about p {
    line-height: 150%;
}


.container {
    display: grid;

    grid-template-columns: 30% 30% 30%;
    gap: 2em;

    padding: 2em;
    padding-left: 5%;
    padding-right: 5%;

}

main h1 {
    font-weight: 400;
}

main h2 {
    font-family: "Playfair Display", serif;
}

.item {
    /* background-color: #f1f1f1; */
    background-color: #f9cb9c;
    box-shadow: 2px 2px 10px gray;
}

.item .info {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.item h2 {
    font-weight: 400
}

.item img {
    width: 100%
}

footer {
    display: flex;
    background-color: #4793AF;
    color: white;
    box-shadow: 2px 2px 10px gray;
    justify-content: space-around;
}

.footer-img {
    margin: 2em;
    width: 600px;
    overflow: hidden;
}

.contact {
    padding: 2em;
}

.icon {
    width: 2rem;
    height: auto;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    font-size: 1.5em;

    margin-bottom: 1em;
}

.footer-icon {
    font-size: 2em;
    padding: 0.3em;
    padding-left: 0;
}

.attribution {
    width: 50%;
}




/* "mobile" style rules */

@media (max-width: 600px) {
    .background-shape {
        width: 400vw;
        transform: translateX(-50%) rotate(20deg) translateY(-5%);
    }

    header {
        flex-direction: column;
    }

    main h1 {
        text-align: center;
    }

    .container {
        grid-template-columns: 100%;
    }

    footer {
        flex-direction: column;
    }

    .footer-img {
        width: 100vw;
        margin: 0;
        overflow: hidden;

    }

    .phone {
        font-size: 1em;
    }
}


/* "tablet" style rules   */
@media (max-width: 900px) and (min-width: 600px) {
    .background-shape {
        transform: translateX(-50%) rotate(15deg) translateY(-5%);
    }

    header {
        flex-direction: column;
    }

    .container {
    grid-template-columns: 40% 40%;
    justify-content: center;
    }

    footer {
        flex-direction: column;
        margin: 0;
    }
    
    .footer-img {
        width: 100vw;
        margin: 0;
        overflow: hidden
    }
}